<section class="hero">
	<div class="wrap">
		<div class="panel panel-default">
  			<div class="panel-body"><%= form_for @evangelist, :class=>"form-horizontal",  :role => "form" do |f| %>
<div class="form-group">
<div class="input-group input-group-lg">
	<%= f.text_field :email, :class=> "form-control", :placeholder=>"Email address" %>
</div>  
</div>

<div class="form-group">
<div class="input-group input-group-lg">
	<%= f.text_field :fullname, :class=> "form-control", :placeholder=>"Full Name" %>
</div>  
</div>
<div class="form-group">
<div class="input-group input-group-lg">
	<%= f.text_field :phone, :class=> "form-control", :placeholder=>"Phone Number" %>
</div>  
</div>

<div class="form-group">
<%= f.submit "Go", :disable_with => 'Going...', :class =>"btn btn-primary btn-lg btn-block" %>
<% end %>
</div>
</div>
</div>
</section>